%h2 Home
%ul
  %li
    %a{:href => url('/month')} Messages by month
  %li
    %a{:href => url('/people')} Messages by person
  %li
    %a{:href => url('/person/2')}= "Messages with #{Person[2].name}"
  %li
    %a{:href => url('/person/2/weekly')}= "Weekly data for #{Person[2].name}"
