%h2 People
- @people.each do |person|
  - unless person.name == "Me"
    //= Message.find(:sent_by_id => person.id).union(:sent_to_id => person.id).count.to_s.ljust(4, " ")
    %a{:href=> "/person/#{person.id}"}= person.name
    |
    - if Ohm.redis.zcard("ll_#{person.id}") > 0
      %a{:href => url("/person/#{person.id}/sips"), :class => "label label-success"} SIPs
    - else
      %a{:href => url("/person/#{person.id}/sips"), :class => "label label-info"} init
    %br
