%h1 People
- @people.each do |person|
  - unless person.name == "Me"
    = Message.find(:sent_by_id => person.id).union(:sent_to_id => person.id).count.to_s.ljust(4, " ")
    %a{:href=> "/people/#{person.id}"}= person.name
    %br
